
@{
    ViewBag.Title = "Clientes";
}
<script src="http://kendo.cdn.telerik.com/2016.1.112/js/cultures/kendo.culture.es-ES.min.js"></script>
<div class="banner">
    <h2>
        <a href="#">Clientes</a>
    </h2>
</div>

<div class="blank">
    <div class="blank-page">
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

        @(Html.Kendo().Grid<DeliveryApp.Models.CUSTOMER>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.cust_id).Hidden();
          columns.Bound(c => c.cust_name).Title("Nombre");
          columns.Bound(c => c.cust_phone).Title("Teléfono");
          columns.Bound(c => c.cust_mail).Hidden();
          columns.Bound(c => c.cust_dir).Title("Dirección");
          columns.Bound(c => c.cust_longitud).Hidden();
          columns.Bound(c => c.cust_latitud).Hidden();
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
          toolbar.Excel();
          toolbar.Pdf();
      })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.cust_id))
          .Read(read => read.Action("CUSTOMER_Read", "Customer"))
          .Create(create => create.Action("CUSTOMER_Create", "Customer"))
          .Update(update => update.Action("CUSTOMER_Update", "Customer"))
          .Destroy(destroy => destroy.Action("CUSTOMER_Destroy", "Customer"))
      )
        )

</div>
</div>